/* Mobile view */
@media (max-width: 600px) {
  ul.cards-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0 0 0;
    padding-top: 100px;
    flex-wrap: wrap;
    gap: 20px;
  }
}

/* Desktop view */
@media (min-width: 601px) {
  ul.cards-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
    flex-wrap: wrap;
    gap: 23px;
    width: 100%;
    margin: 10px 0 10px 0;
  }
}